<li>
  <%= link_to user.name, user %>
  <% if current_user.name == "admin" %>
      <%= link_to "delete", user, method: :destroy,
                    data: { confirm: "You sure?" } %>
  <% end %>

</li>
